   <div class="space"></div>
   
   <div class="footer-bottom">
        <footer class="footer">
            <!-- <div></div> -->
            <div class="flex-start-footer">
                <div class="start-footer">
                    <p>2021/TC</p>
                </div>
            </div>
            <div class="flex-start-footer">
                 <div class="end-footer">
                    <img src="https://cdn.shopify.com/s/files/1/0011/6005/2795/files/Sans_titre-2_5eb00952-6148-47a6-991b-0ffecdce826e_125x.png" alt="">
                </div>
            </div>
        </footer>
    </div>
  </body>
</html>