{{>header}}
{{>entry}}
      <div class="home-img">
    </div>

    <div class="white-space">
        <h3>LISTEN NOW</h3>
    </div>

    <div class="latest-release">
        <div class="latest-release-title">
            <h3>LATEST RELEASE</h3>
        </div>
        <div class="latest-release-content">
            <div class="container-new-release">
                <div class="container-new-release-collum">
                    <a href="">
                        <div class="hover-new-release"></div>
                        <img src="https://cdn.shopify.com/s/files/1/0011/6005/2795/files/11_6fa2e227-7cf4-4f43-a3f0-bbdeb4f06e38_2048x2048.png" alt="">
                        <p class="new-release-title">Meditative Flow</p>
                        <p class="new-release-creator">Raimu</p>
                    </a>
                </div>
                <div class="container-new-release-collum">
                    <a href="">
                        <div class="hover-new-release"></div>
                        <img src="https://cdn.shopify.com/s/files/1/0011/6005/2795/files/11_48d5f8d5-7d95-4832-a262-acece5087ca1_2048x2048.png" alt="">
                        <p class="new-release-title">Nomads</p>
                        <p class="new-release-creator">Casiio X Sleepermane</p>
                    </a>
                </div>
                <div class="container-new-release-collum">
                    <div class="hover-new-release"></div>
                    <a href="">
                        <img src="https://cdn.shopify.com/s/files/1/0011/6005/2795/files/11_1_2e05de91-561c-4608-a499-5cdd730e371d_2048x2048.jpg" alt="">
                        <p class="new-release-title">A World Of Illusion</p>
                        <p class="new-release-creator">DaniSogen</p>
                    </a>
                </div>
                <div class="container-new-release-collum">
                    <a href="">
                        <div class="hover-new-release"></div>
                        <img src="https://cdn.shopify.com/s/files/1/0011/6005/2795/files/2_TEXT_SQUARE_FINAL_AFTERTHERAIN_2048x2048.jpg" alt="">
                        <p class="new-release-title">After The Rain</p>
                        <p class="new-release-creator">Laffey</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
    <div class="white-space">
    </div>

    <div class="policy">
        <h3>USE THE MUSIC</h3>
        <h3>YOU WANT TO USE THE MUSIC IN YOUR VIDEO OR LIVESTREAM? NO PROBLEM!</h3>
    </div>

{{>footer}}